<div class="jumbotron">

    <h1 id="loginUsuarios"> bienvenido {{nombre}} </h1>

    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <button class="btn btn-danger my-5  " onclick="location.href='/logout'">LOGOUT</button>
    </div>
</div>