<nav class="navbar bg-light">
  <div class="container-fluid">
    <a class="navbar-brand">hola {{usuario}}</a>
    <form class="d-flex" role="search">
      <button class="btn btn-danger my-5  " onclick="location.href='/logout'">LOGOUT</button>
    </form>
  </div>
</nav>